<ion-header>
  <ion-navbar>
    <ion-title>
      Back to News Articles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <h2>{{ item.title }}</h2>
   <img src="{{item['media:thumbnail'].$.url}}">
   <div>{{ item.description }}</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title (click)="shareEmail(item);">Share via Email</ion-title>
  </ion-toolbar>
</ion-footer>
