<ion-header>
  <ion-navbar>
    <ion-title>
      News App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
   <ion-list>
   <!-- Start of Filter by Provider select -->
   <!-- <ion-item>
	    <ion-label>Filter by Provider</ion-label>
	    <ion-select [(ngModel)]="provider" (ionChange)="onProviderChange(provider)">
	      <ion-option value="uk" selected>BBC</ion-option>
	      <ion-option value="technology">Reuters</ion-option>
	    </ion-select>
  	 </ion-item> -->
  	<ion-item>
	    <ion-label>Filter by Category</ion-label>
	    <ion-select [(ngModel)]="news" (ionChange)="onCategoryChange(news)">
	      <ion-option value="uk" selected>UK News</ion-option>
	      <ion-option value="technology">Technology News</ion-option>
	    </ion-select>
  	 </ion-item>

	  <ion-item *ngFor="let item of xmlItems" (click)="openSingleArticlePage(item)">
	    <ion-thumbnail item-start>
	      <img src="{{item['media:thumbnail'].$.url}}">
	    </ion-thumbnail>
	    <h2>{{item.title}}</h2>
	    <p>{{item.description}}</p>
	  </ion-item>
</ion-list>
</ion-content>